<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<span class="glyphicon glyphicon-home"></span>
				Popular Instagram Photos
			</a>

			<ul class="nav navbar-nav">				
				<li>
					<a href="/ramen">
						<span class="glyphicon glyphicon-picture"></span>
						<span>Ramen</span>
					</a>
				</li>
				<li>
					<a href="/sushi">
						<span class="glyphicon glyphicon-picture"></span>
						<span>Sushi</span>
					</a>
				</li>
				<li>
					<a href="/bloomsburg-fair">
						<span class="glyphicon glyphicon-picture"></span>
						<span>Bloomsburg Fair</span>
					</a>
				</li>
				<li>
					<a href="/lithuania">
						<span class="glyphicon glyphicon-globe"></span>
						<span>Lithuania</span>
					</a>
				</li>
				<li>
					<a href="/cats">
						<span class="glyphicon glyphicon-picture"></span>
						<span>Cats</span>
					</a>
				</li>
				<li>
					<a href="/pangofhunger">
						<span class="glyphicon glyphicon-user"></span>
						<span>pangofhunger</span>
					</a>
				</li>
				<li>
					<a href="/pressenterpa">
						<span class="glyphicon glyphicon-user"></span>
						<span>pressenterpa</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
</nav>